$primary   : #f00000;
$secondary : #ee1515;
$blackPokebola : #222224;
$whitePokebola : #f0f0f0;
$grayPokedex : #aaa;
$graySelector: #3a444d;

$accent    : #1c1f26;

$dark      : #1d1d1d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
